:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --root-padding-top: 2rem;
  margin: 0 auto;
  max-width: 500px;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  padding-top: var(--root-padding-top);
}
